.header {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  max-width: 75rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.header-menu a {
  display: inline-block;
  padding: 1rem 0rem;
  font-size: 1.125rem;
  position: relative;
  font-family: "Poppins";
  font-weight: 400;
}

.header-menu a::after {
  content: "";
  background-color: var(--cor-0);
  display: block;
  height: 0.125rem;
  width: 0rem;
  margin-top: 0.25rem;
  transition: 0.3s;
  position: absolute;
}

.header a:hover::after {
  width: 100%;
}

.header-bg {
  background-color: var(--cor-12);
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 1.25rem;
    justify-content: center;
  }
  .header-menu a {
    background-color: var(--cor-11);
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
  }
  .header a:hover {
    background-color: var(--cor-10);
  }
  .header a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .header.menu {
    gap: 0.75rem;
  }
  .header-menu a {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }
}
